.white-background {
    background-color: white;
}

.box-tooltip {
    float: left;
    height: 12px;
    width: 12px;
    margin-bottom: 15px;
    border: 1px solid black;
    clear: both;
    margin-right: 5px;
  }