<!---->
<ngx-charts-line-chart *ngIf="this.multi"
[view]="this.chart_view"

[schemeType]="this.scheme_type"

[customColors]="this.custom_colors"

[animations]="true"

[timeline]="true"

[autoScale]="true"

[gradient]="false"

[tooltipDisabled]="false"

[legend]="true"
[legendTitle]="this.legend_title"
[legendPosition]="this.legend_position"

[xAxis]="true"
[showXAxisLabel]="true"
[xAxisLabel]="'Datum'"
[trimXAxisTicks]="true"
[rotateXAxisTicks]="true"
[maxXAxisTickLength]="16"

[yAxis]="true"
[showYAxisLabel]="true"
[yAxisLabel]="'Broj ljudi'"
[trimYAxisTicks]="true"
[rotateXAxisTicks]="true"
[maxYAxisTickLength]="16"

[results]="this.multi"

[roundDomains]="false"

(select)="select($event)"
(activate)="activate($event)"
(deactivate)="deactivate($event)"
>

</ngx-charts-line-chart>
<button (click)="test()">AAA</button>