<h2 class="text-center">Neto ulazi/izlazi</h2>
<!---->
<ngx-charts-line-chart *ngIf="this.multi"
[view]="this.chart_view"

[schemeType]="this.scheme_type"

[animations]="true"

[timeline]="true"

[autoScale]="true"

[gradient]="false"

[tooltipDisabled]="false"

[legend]="true"
[legendTitle]="this.legend_title"
[legendPosition]="this.legend_position"

[xAxis]="true"
[showXAxisLabel]="true"
[xAxisLabel]="'Datum'"
[trimXAxisTicks]="true"
[rotateXAxisTicks]="true"
[maxXAxisTickLength]="16"

[yAxis]="true"
[showYAxisLabel]="true"
[yAxisLabel]="'Broj'"
[trimYAxisTicks]="true"
[rotateXAxisTicks]="true"
[maxYAxisTickLength]="16"

[results]="this.multi"

[roundDomains]="false"

(select)="select($event)"
(activate)="activate($event)"
(deactivate)="deactivate($event)"
>

</ngx-charts-line-chart>

<br>
<button (click)="add_new_line()">Dodaj Novi</button>
&nbsp;&nbsp;
<button (click)="refresh();">Refresh</button>
<br>
<button (click)="delete_all_lines()">Obriši sve</button>

<div *ngFor="let query of requestOptions">
    <br>
    <button (click)="remove_line(query)">Obriši</button>
    <br>
    <label>
        Naziv
        <input type="text" [(ngModel)]="query.name">
    </label>
    <br>
    <label>
        Datum od
        <input type="date" [(ngModel)]="query.date_from">
    </label>
    <br>
    <label>
        Datum do
        <input type="date" [(ngModel)]="query.date_to">
    </label> 
    <br>
    <label>Tablica
        <select name="selectomundo" [(ngModel)]="query.table">
            <option *ngFor="let table of table_list">{{table}}</option>
        </select>
        <br>
    </label>

</div>