<h2 class="text-center">Granična statistika Republike Hrvatske</h2>


<h3 *ngIf="this.graph_data.length == 0" class="text-danger text-center">Greška u upitu, provjerite datume i jesu li su sva polja ispunjenja.</h3>

<div class="card">
    <div class="card-body row">
        <div class="col-sm-12" style="height: calc(100vh - 16px);">
            <ngx-charts-line-chart *ngIf="this.graph_data.length > 0" [schemeType]="this.scheme_type"
                [animations]="true" [timeline]="true" [autoScale]="true" [gradient]="false" [tooltipDisabled]="false"
                [legend]="true" [legendTitle]="this.legend_title" [legendPosition]="this.legend_position" [xAxis]="true"
                [showXAxisLabel]="true" [xAxisLabel]="'Datum'" [trimXAxisTicks]="true" [rotateXAxisTicks]="true"
                [maxXAxisTickLength]="16" [yAxis]="true" [showYAxisLabel]="true" [yAxisLabel]="'Broj'"
                [trimYAxisTicks]="true" [rotateXAxisTicks]="true" [maxYAxisTickLength]="16" [results]="this.graph_data"
                [roundDomains]="false" (select)="select($event)" (activate)="activate($event)"
                (deactivate)="deactivate($event)">

                <ng-template #tooltipTemplate let-model="model">
                    <p>{{model.name | date:'dd/MM'}}</p>
                    <p>{{model.series}}</p>
                    <p>{{model.value | number:'1.0-0'}}</p>
                  </ng-template>
                
                  <ng-template #seriesTooltipTemplate let-model="model">
                    <p>{{model[0].name | date:'dd/MM'}}</p>
                    <div *ngFor="let instance of model">
                        <p>
                            <span class="box-tooltip" [ngStyle]="{'background-color': instance.color}"></span>{{instance.series}}: {{instance.value | number:'1.0-0'}}
                        </p>
                    </div>
                  </ng-template>

            </ngx-charts-line-chart>
            <br>
            <br>
            <div class="row">
                <button class="btn btn-outline-primary" type="button" (click)="edit_line()">Uredi linije</button>
            </div>
            <br>
            <div class="row">
                <button class="btn btn-outline-danger" type="button" (click)="delete_all_lines()">Resetiraj sve</button>
            </div>
        </div>
    </div>
</div>

<p-dialog [modal]="true" [(visible)]="displayRequestOptionsDialog" [style]="{height: 'calc(100vh - 50px)', width: '150vh'}">
    <p-header>
        <div class="row">
            <div class="col-sm-12">
                <h3>Linije grafa</h3>
            </div>
        </div>
    </p-header>
    <p-table responsiveLayout="stack" [value]="requestOptions">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Naziv</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Tablica</th>
                <th>Tip prikaza</th>
                <th>Detalji</th>
                <th>Obriši</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-requestOption let-columns="columns">
            <tr>
                <td><span class="p-column-title">Naziv</span>
                    <input type="text" [(ngModel)]="requestOption.name">
                </td>
                <td><span class="p-column-title">Datum od</span>
                    <input type="date" min="2012-01-01" [(ngModel)]="requestOption.date_from">
                </td>
                <td><span class="p-column-title">Datum do</span>
                    <input type="date" [(ngModel)]="requestOption.date_to">
                </td>
                <td><span class="p-column-title">Tablica</span>
                    <select name="selectomundo" [(ngModel)]="requestOption.table">
                        <option *ngFor="let table of table_list">{{table}}</option>
                    </select>
                </td>
                <td><span class="p-column-title">Tip prikaza</span>
                    <select name="selectomundo" [(ngModel)]="requestOption.query_type">
                        <option *ngFor="let graph_type of graph_types">{{graph_type}}</option>
                    </select>
                </td>
                <td><span class="p-column-title"></span>
                    <button class="btn btn-primary" (click)="open_graph_data(requestOption.table, requestOption.date_from, requestOption.date_to)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars" viewBox="0 0 16 16">
                        <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z"/>
                      </svg></button>
                </td>
                <td><span class="p-column-title">Obriši</span>
                    <button class="btn btn-danger" (click)="remove_line(requestOption)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-minus" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                        <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
                      </svg></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="row">
        <button class="btn btn-success" type="button" (click)="add_new_line()">Dodaj</button>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="displayRequestOptionsDialog=false;" label="Odustani" styleClass="p-button-text text-danger"></p-button>
        <p-button icon="pi pi-check" (click)="refresh()" label="Spremi" styleClass="p-button-success"></p-button>
    </ng-template>
</p-dialog>

<p-dialog [modal]="true" [(visible)]="displayFormWarningDialog">
    <p class="text-danger text-center">Greška u formi.</p>
    <p>Datum svake linije mora počinjati i završavati unutar iste godine.</p>
    <p>Sva polja na linijama moraju biti popunjena.</p>
    <p>Polja ne smiju imati isti naziv.</p>
</p-dialog>